<h1>Edit Speaker Profile</h1>
<%= form_for @speaker do |speaker| %>
<% if @speaker.errors.any? %>
<div class="error_messages">
<h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker profile from being saved:</h2>
<ul>
<% @speaker.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>

</div>
<% end %>
<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>


<div class="actions"><%= f.submit %></div>
<% end %>